<!DOCTYPE html>
<html>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <head>
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <title>Product Comparison</title>

</head>
  <body>
   
      <div id="xyz">
        
        <div id = "top">
      
          </div>


      </div>
    <script type="text/babel">
        ReactDOM.render(<div class="grid-container">
      <header class="row">
        <div>
          <a class="brand"><img src="logo.jpg" height="50px" width="100px"/></a>
          <a class="shop" >SHOPify</a>
          <form action="/logout?_method=DELETE" method="POST">
          <button type="submit" className="logoutbtn">Log Out</button>
          </form>
        </div>
        
       
      </header>
      </div>,document.querySelector('#xyz')

        );
    </script>
   
     <div class="grid-container">
      
      
      <main>
          <div id="vid">

          </div>
          <script type="text/babel">
              ReactDOM.render(
                <div className="video-container">
                <video autoplay loop muted>
                <source src="PREDATOR.mp4" type="video/mp4"/>

                </video>
                </div>,document.querySelector('#vid')

              );
          </script>
        <div class="video-container">
           <video autoplay loop muted className="video">
            <source src="PREDATOR.mp4" type="video/mp4">

          </video> 
          </div>
        <div id="whole"></div>
            <script type="text/babel">
                ReactDOM.render(
                <div>
                <div class="row center">
            <div class="card"  id="z">
              <a href="laptop1.html">
                
                <img class="medium" src="laptop.jpg" alt="product"  height="200px" weight="100px"/>
              </a>
              <div class="card-body">
                <a href="laptop1.html">
                  <h2 >LAPTOP</h2>
                </a>
                

              </div>
            </div>
            <div class="card" id="p">
              <a href="audio.html">
            
                <img class="medium" src="a.jpg" alt="product" height="200px" weight="100px" />
              </a>
              <div class="card-body">
                <a href="audio.html">
                  <h2 >HEADPHONES AND SPEAKERS</h2>
                </a>

              </div>
            </div>
            <div class="card" id="y">
              <a href="telivisions.html">
            
                <img class="medium" src="tv.jpg" alt="product"  height="200px" weight="100px" />
              </a>
              <div class="card-body">
                <a href="telivisions.html">
                  <h2 >TELEVISION</h2>
                </a>
                


              </div>
            </div>
            <div class="card" id="q">
              <a href="tablets.html">
                <img class="medium" src="tab.jpg" alt="product"  height="200px" weight="100px"/>
              </a>
              <div class="card-body">
                <a href="tablets.html">
                  <h2 >TABLETS</h2>
                </a>
                

              </div>
            </div>

              </div>
              </div>,document.querySelector('#whole')
                );

            </script>
          <div class="row center">
           
            </div>
          </div>
        </div>
        <div id="footer">&copy; Copyright 2021
          All right reserved</div>
      </main>

    </div>
  </body>
</html>